.root-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: green;
  color: white;
}

.container {
  padding: 2em 2em;
}

.post-card {
  border: 1px solid white;
  padding: 1em;
  margin: 0.5em;
  cursor: pointer;
  border-radius: 0.5em;
}
