:root {
  --col-primary: white;
}

.root-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: green;
  color: white;
  flex-direction: column;
}

.container {
  padding: 2em 2em;
}

.post-card {
  border: 1px solid white;
  padding: 1em;
  margin: 0.5em;
  cursor: pointer;
  border-radius: 0.5em;
}

.btn-primary {
  background-color: var(--col-primary);
  border: none;
  outline: none;
  border-radius: 2em;
  padding: 1em 1.7em;
  margin: 2em auto;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 1em;
}

.single-post {
  width: 60%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.w-100 {
  width: 100%;
}

.add-post-form {
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  width: 50%;
  justify-content: flex-start;
}

.input-box {
  border: none;
  outline: none;
  font-size: 18px;
  padding: 1em;
  border-radius: 0.5em;
}

.btn-submit {
  background-color: var(--col-primary);
  border: none;
  outline: none;
  border-radius: 0.5em;
  padding: 1em 1.7em;
  cursor: pointer;
}
